.wrapper {
  height: 100%;
  width: 100%;
  color:blue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size:large;
  letter-spacing: 2px;
  text-transform:uppercase;
}

canvas {
	//width : 1100;
	//length : width/2;
    background-color: #222222;
    border-collapse: collapse;
    //border-radius: 20px;
    border-style: solid;
    border-color:green;
	margin-left:0px;
	margin-top:0px;
}

body {
    background-color: #444444;
	text-align:center;
}

form {
		font-size:medium;
		border-collapse:collapse;
		border-color:green;
		text-align:center;
}

.table{
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	border-collapse:collapse;
	border-style:solid;
	border-color:green;
	color:blue;
}

table td:hover {
	background-color:green;
}

.table td:active {
	border-style:solid;
	border-color:blue;
}

.listeJoueurs{
	position:relative;
	margin-right:0px;
	width:10%;
	text-transform:none;
	font-size:medium;
}
